<header class="sub-header group">
  <nav class="sub-header-nav">
    <a href="#">Photos</a>
    <a href="#/albums">Albums</a>
    <a href="#/photos/liked">Favorites</a>
    <a href="#/photos/followed">Shared</a>
    <a href="#/users">Users</a>
    <a href="#/photos/new">Upload</a>
  </nav>
</header>

<section id="content"></section>
