<section class="users-lists">
  <section class="following">
  <h1>Following</h1>
  <ul class="following-list">
  </ul>
  </section>

  <section class="followers">
    <h1>Followers</h1>
    <ul class="followers-list">
    </ul>
  </section>
</section>

<section class="users-search">
  <input class="searchbox" placeholder="search for users"></input>
  <ul class="search-results">
  </ul>
</section>
