<aside class="comment"><%= comment.escape('body') %></aside>
<aside class="comment-author"><%= comment.escape('author_name') %></aside>
<aside class="comment-time"><%= comment.escape('time_ago') %></aside>
<% if (comment.get('my_comment')) { %>
  <button class="delete-comment">X</button>
<% } %>
