
<label>Title:
	<input type="text" name="title" value="<%= photo.escape('title') %>">
</label>

<label>Photo:
	<input type="file" name="img" id="input-img-file">
</label>

<label>Description:
	<textarea name="description" rows="8" cols="40"></textarea>
</label>

<button>Submit</button>

<img src="" id="preview">
