<h1 class="photo-title"><%= photo.escape('title') %>
<% if (photo.get('myphoto')) { %>
  <button class="edit-title">edit</button>
<% } %>
</h1>

<img src="<%= photo.escape('url') %>">

<section class="photo-description"><%= photo.escape('description') %>
<% if (photo.get('myphoto')) { %>
  <button class="edit-description">edit</button>
<% } %>
</section>

<div class="like group"> </div>

<% if (photo.get('myphoto')) { %>
  <button class="delete-photo">delete</button>
<% } %>

<ul class="comments">

</ul>

<form class="comment-form">
  <textarea name="body" rows="8" cols="40"></textarea>
  <button>Leave Comment</button>
</form>
