<h1><%= photo.escape('title') %></h1>

<ul class="comments">
<% photo.comments().each(function(comment){ %>
  <aside class="comment"><%= comment.escape('body') %></aside>
  <aside class="comment-author"><%= comment.escape('author_name') %></aside>
<% }); %>
</ul>

<form class="comment-form">
  <textarea name="body" rows="8" cols="40"></textarea>
  <input type="hidden" value="<%= photo.id %>" name="photo_id">
  <button>Leave Comment</button>
</form>
