<form action="<%= api_photos_url %>" method="post" enctype="multipart/form-data">
  <%= csrf_token %>
  <label>Title:
		<input type="text" name="photo[title]" value="<%= @photo.title %>">
	</label>

	<label>Photo:
		<input type="file" name="photo[img]">
	</label>

	<label>Description:
		<textarea name="photo[description]" rows="8" cols="40"><%= @photo.description %></textarea>
	</label>

	<button>Submit</button>
</form>
