

.page-title{
  display: block;
  margin: 10px auto;
  width: 80px;
  font-family: sans-serif;
  font-size: 30px;
}

.album-title{
  display: block;
  padding-top: 20px;
  padding-left: 3px;
  font-size: 30px;
}


.album-list a{
  position: relative
}

.album-list a:hover{
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
}

.album-label{
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
  background-color: black;
}
