.album-list li{
  display: block;
  float: left;
  margin: 15px;
}

.page-title{
  position: relative;
  left: 100px;
  display: block;
  margin: 10px auto;
  font-family: sans-serif;
  font-size: 30px;
}
