.header {
  background: black;
  color: white;
}

.header-nav{
  width: 100%;
  margin: 0 auto;
}

.header-logo a{
  float: left;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
}

.header-buttons{
  float: right;
}

.username {
  font-family: sans-serif;
}

.signout-button, .username{
  float:left;
  padding: 15px 0px 15px 10px;
}

.sub-header {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.sub-header-nav {
  width: 420px;
  margin: 0 auto;
}

.sub-header-nav a {
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  padding: 4px 25px;
  float: left;
}

.sub-header-nav a:hover {
  background: red;
}
