.photos * {
  display:block;
}

#preview{
  width: 100px;
}

.photo-details{
  display: block;
  position: absolute;
  bottom: 0;
  padding: 10px 10%;
  color: white;
  background: black;
  opacity: 0;
  width: 80%;
  transition: opacity 0.5s linear;
}

.like-counter{
  float: right;
}

.photos a:hover .photo-details{
  opacity: .6;
  transition: opacity 0.3s linear;

}

.photos a{
  position: relative;
}

.upload-spinner{
  width: 34px;
  height: 34px;
  background-image: image_url('spinner.gif')
}
