.photo-form{
  display:block;
  width: 900px;
  margin: 0 auto;
}

.preview-pane{
  width: 450px;
  box-sizing: border-box;
  float: left;
}
.inputs{
  width: 450px;
  box-sizing: border-box;
  float: right;
  padding: 20px;
}

.inputs > *{
  margin: 10px 0;
}

#description{
  width: 250px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}


#title{
  display: block;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
}

#title:focus, #description:focus, #tags:focus, .new-album:focus{
  outline: none;
  border: 1px solid #008ddf;
}

#album, #privacy{
  display: block;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: white;
}

#tags{
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.new-album{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.photo-form button{
  outline: none;
  display: block;
  background-color: #008ddf;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.photo-form button:hover{
  background-color: #009efa;
}

#preview{
  width: 300px;
  display: block;
  margin: 40px auto;
}

.empty{
  display: block;
  background-color: white;
  border: 4px dashed black;
  width: 300px;
  height: 300px;
  margin: 40px auto;
}

.upload-spinner{
  width: 40px;
  height: 40px;
  background-image: image_url('spinner.gif');
}
