.photo-backdrop{
  background-color: #333333;
  color: white;
  margin-top: -74px;
}

.photo-display{
  width: 900px;
  margin: 0 auto;
  padding-top: 85px;
}

.photo-display > img{
  display: block;
  margin: 0 auto;
  position: relative;
}

.photo-display > :not(:first-child){
  margin: 10px 0;
}
.photo-description{
  margin-top: 10px;
}

.photo-show h1{
  font-size: 32px;
}

.photo-info{
  float: left;
}

.like{
  float: right;
}

.liked{
  float: left;
  width: 30px;
  height: 30px;
  background-image: image_url('liked.svg');
  background-size: contain;
  cursor: pointer;
}

.not-liked{
  float: left;
  width: 30px;
  height: 30px;
  background-image: image_url('not_liked.svg');
  background-size: contain;
  cursor: pointer;
}

.like-count{
  display: block;
  float: left;
  padding: 10px 5px;
}

.extras{
  display: block;
  width: 900px;
  margin: 0 auto;
}

.delete-photo{
  width: 30px;
  height: 30px;
  background-image: image_url('trash.svg');
  background-size: contain;
  cursor: pointer;
  position: absolute;
  left: 50%;
  float: left;
}

.comment-column{
  float: left;
  width: 450px;
}

.details-column{
  float: right;
  width: 450px;
}

.tags-list{
  list-style: none;
  float: right;
  padding: 20px;
}

.tags-list a{
  display: block;
  background-color: #858585;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
}

.tags-list a:hover{
  background-color: #ccc;
}

.tags-list h3{
  display: block;
  margin-bottom: 10px auto;
  font-size: 18px;
}

.edit-description, .edit-title{
  width: 20px;
  height: 20px;
  background-image: image_url('edit.svg');
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-left: 20px;
  cursor: pointer;
}

.photo-title input{
  font-size: 30px;
  outline: none;
  border: 1px solid #008ddf;
  color: black;
}

.photo-description input{
  font-size: 16px;
  outline: none;
  border: 1px solid #008ddf;
  color: black;
}

.user-info{
  float: right;
}

.user-info > .user-card:before{
  content:"";
  display: block;
  clear: both;
}
