.photos * {
  display:block;
}

.photos img{
  float: left;
  height: 250px;
  width: auto;
}

.photo-form{
  display:block;
  background: #70B8FF;
  width: 450px;
  padding: 50px;
  margin: 20px auto;
  border-radius: 10px;
}

#preview{
  width: 100px;
}

.photo-details{
  display: block;
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  padding: 10px 10%;
  color: white;
  background: black;
  opacity: 0;
  width: 80%;
  transition: opacity 0.5s linear;
}

.like-counter{
  float: right;
}

.imgcontainer:hover .photo-details{
  opacity: .6;
  transition: opacity 0.3s linear;

}

.imgcontainer{
  position: relative;
  float: left;
}

.spinner{
  width: 34px;
  height: 34px;
  background-image: image_url('spinner.gif')
}
